<div class="container center-vertical">
    <form action="/signup" method="post">
        <input class="form-control" name="name" placeholder="名前を入力" required><br>
        <input class="form-control" name="password" type="password" placeholder="パスワードを入力" required><br>
        <input class="form-control" name="password_confirmation" type="password" placeholder="パスワードをもう一度入力" required><br>
        <input class="form-control" name= "top_img" type="file" placeholder="アイコン画像を選択" required><br>
        <input class="form-control" type="submit" value="sign up">
    </form>
</div>